absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1673535674859/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1649013153846/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1685486400275/work/dist
appdirs==1.4.4
argcomplete==3.1.1
array-record==0.4.0
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1662382474514/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
astunparse==1.6.3
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
av==10.0.0
av2 @ git+https://github.com/argoverse/av2-api@046f01f266771e29d7f7feb619d50a632439a07c
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
blessed @ file:///home/conda/feedstock_root/build_artifacts/blessed_1666523113356/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1681349778161/work
boto3==1.34.75
botocore==1.34.75
bravado==11.0.3
bravado-core==6.1.1
brotlipy==0.7.0
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1682868691601/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1686152218986/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1674482203741/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1669193745932/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorlog==6.7.0
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
contourpy==1.1.0
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1667467006729/work
croniter @ file:///home/conda/feedstock_root/build_artifacts/croniter_1685103477055/work
cryptography @ file:///croot/cryptography_1686613057838/work
cycler==0.11.0
dacite==1.8.1
dask==2023.3.1
dataclass_array==1.4.1
dateutils @ file:///home/conda/feedstock_root/build_artifacts/dateutils_1603450192521/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1695534280282/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deepdiff @ file:///home/conda/feedstock_root/build_artifacts/deepdiff_1670811675766/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1668356257807/work
dm-tree==0.1.8
docker-pycreds==0.4.0
dulwich @ file:///croot/dulwich_1679420040193/work
einops==0.8.0
einsum==0.3.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
etils==1.3.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1678703645500/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
Farama-Notifications==0.0.4
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1669571890356/work
filelock @ file:///croot/filelock_1672387128942/work
fiona==1.9.6
Flask==3.0.0
flatbuffers==24.3.25
fonttools==4.42.0
fqdn==1.5.1
frozenlist @ file:///croot/frozenlist_1670004507010/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1686342280219/work
future==1.0.0
gast==0.4.0
geopandas==0.13.2
gitdb==4.0.11
GitPython==3.1.40
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455532332/work
google-auth==2.16.2
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1675825735130/work
google-pasta==0.2.0
googleapis-common-protos==1.63.1
grpcio @ file:///croot/grpc-suite_1685746860162/work
gym==0.23.1
gym-notices==0.0.8
gymnasium==0.28.1
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h5py==3.11.0
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
idna @ file:///croot/idna_1666125576474/work
imageio==2.34.0
immutabledict==2.2.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1687138353019/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1676919000169/work
iniconfig==2.0.0
inquirer @ file:///home/conda/feedstock_root/build_artifacts/inquirer_1678135536462/work
installer @ file:///home/conda/feedstock_root/build_artifacts/python-installer_1679300325491/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1698244021190/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1680185408135/work
isaacgym==1.0rc4
isoduration==20.11.0
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1667024629799/work
jax==0.4.13
jax-jumpy==1.0.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
jeepney @ file:///home/conda/feedstock_root/build_artifacts/jeepney_1649085214306/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
jmespath==1.0.1
joblib @ file:///croot/joblib_1685113087166/work
jsonpointer==2.4
jsonref==1.1.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1669810440410/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1699283905679/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1698673647215/work
keras==2.12.0
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1671728234449/work
kiwisolver==1.4.4
kornia==0.7.0
lark==1.1.9
lazy_loader==0.3
libclang==18.1.1
lightning @ file:///home/conda/feedstock_root/build_artifacts/lightning_1686243675944/work
lightning-cloud @ file:///home/conda/feedstock_root/build_artifacts/lightning-cloud_1684530799200/work
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1678644635474/work
llvmlite==0.40.1
locket==1.0.0
lockfile==0.12.2
lxml==5.2.2
lz4==4.3.3
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1679584000376/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
matplotlib==3.7.5
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
metadrive-simulator==0.4.2.3
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
ml-dtypes==0.2.0
monotonic==1.6
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1677514956219/work
mpmath==1.2.1
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1648745990887/work
multidict @ file:///croot/multidict_1665674239670/work
neptune==1.10.1
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1697083700168/work
networkx @ file:///croot/networkx_1678964333703/work
nox==2023.4.22
numba==0.57.1
numpy==1.23.0
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
opencv-python==4.9.0.80
OpenEXR==1.3.9
opt-einsum==3.3.0
ordered-set @ file:///home/conda/feedstock_root/build_artifacts/ordered-set_1643221357603/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
Panda3D==1.10.13
panda3d-gltf==0.13
panda3d-simplepbr==0.12.0
pandas==1.5.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd==1.4.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.2.0
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1673281726124/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1672264874562/work
plotly==5.13.1
pluggy==1.5.0
poetry @ file:///home/conda/feedstock_root/build_artifacts/poetry_1680723515354/work
poetry-core @ file:///home/conda/feedstock_root/build_artifacts/poetry-core_1678790306193/work
poetry-plugin-export @ file:///home/conda/feedstock_root/build_artifacts/poetry-plugin-export_1681748973730/work
polars==0.18.15
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
progressbar==2.5
promise==2.3
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
protobuf==3.20.3
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1695367190297/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==10.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1653020734418/work
pygame==2.6.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1683676063469/work
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
pyproj==3.5.0
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1670268672584/work
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1649013354401/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
pytest==8.3.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-editor==1.0.4
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1679167423335/work
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1687682050598/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets==1.4.1
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1648757091578/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1701783152483/work
rapidfuzz @ file:///croot/rapidfuzz_1679593470109/work
ray==2.2.0
readchar @ file:///home/conda/feedstock_root/build_artifacts/readchar_1679045163536/work
requests @ file:///croot/requests_1682607517574/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1643557462909/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1667050328587/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1686591034793/work/dist
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
s3transfer==0.10.1
scikit-image==0.20.0
scikit-learn @ file:///croot/scikit-learn_1684954695550/work
scipy==1.9.1
seaborn==0.13.2
SecretStorage @ file:///home/conda/feedstock_root/build_artifacts/secretstorage_1666848709093/work
sentry-sdk==1.39.1
setproctitle==1.3.3
shapely==2.0.2
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1676292972954/work
simplejson==3.19.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1668726462865/work
starsessions @ file:///home/conda/feedstock_root/build_artifacts/starsessions_1659923701614/work
swagger-spec-validator==3.0.3
sympy @ file:///croot/sympy_1668202399572/work
tabulate==0.9.0
tenacity==8.3.0
tensorboard==2.12.3
tensorboard-data-server @ file:///croot/tensorboard-data-server_1681498183723/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl
tensorboardX==2.6.2.2
tensorflow==2.12.0
tensorflow-addons==0.21.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.12.0
tensorflow-graphics==2021.12.3
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-metadata==1.14.0
tensorflow-probability==0.19.0
termcolor==2.4.0
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2023.7.10
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1683028165096/work
toolz==0.12.1
torch==2.0.1
torch-cluster @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-cluster_1678981174615/work
torch-geometric @ file:///usr/share/miniconda/envs/test/conda-bld/pyg_1679555540053/work
torch-scatter @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-scatter_1678970597338/work
torch-sparse @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-sparse_1679137675288/work
torchaudio==2.0.2
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1678720682204/work
torchvision==0.15.2
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1695373547159/work
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1701095650114/work
trimesh==4.4.1
triton==2.0.0
trove-classifiers @ file:///home/conda/feedstock_root/build_artifacts/trove-classifiers_1685141755541/work
typeguard==2.13.3
typer==0.10.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1702176139754/work
tzdata==2023.3
universal-pathlib==0.1.1
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1686163155763/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn-split_1682667784515/work
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1681949329741/work
visu3d==1.5.1
wandb==0.16.1
waymo-open-dataset-tf-2-12-0==1.6.4
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1700607916581/work
webcolors==1.13
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1686999594811/work
websockets @ file:///home/conda/feedstock_root/build_artifacts/websockets_1650300290705/work
Werkzeug==3.0.1
wrapt==1.14.1
yapf==0.30.0
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1648966513179/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
